<!DOCTYPE html>

<html>

<head>
    <title>404 NOT FOUND</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .hey {
            color: rgb(255, 145, 0);
            border-top: 1px solid blue;
            padding: 16px 0;
            margin: 16px;
    
        }
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
  
        <p class="hey">Created by : {{footer}}</p>
</body>

</html>