<!DOCTYPE html>

<html>

<head>
    <title>404 NOT FOUND</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
  
        <p>Created by : {{footer}}</p>
</body>

</html>